/* Base styles for computer screens */





    /* Dynamic styling */

.current {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
}
/* Main styles */


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #583b1ffa;   
    position: relative;
}

body ul {
    list-style-type: none;
}

main {
    background-color: #ff8b260d;
    width: 100%;
    margin-top: 151px;
    padding-bottom: 100px;
    position: relative;
    z-index: 0;

}

/* Color tests */

    /* 
    Background colors to test:

        Original color: #c2bfcb;
        First new color, sepia: #ff8b260d;
        Testing a yellow closer to the logo:

        original stroke color: stroke: #eae6e1;

        Yellow from the logo: #fbc301;
        Nice yellows: #f7aa0310; #f7aa0313;

        logo border color: #7a624d39;
    */

.main-home {
    background-color: #f7aa0313; /* #ff8b260d; */
}

.main-meet-the-team {
    background-color: #f7aa0313;
}



.main-prices {
    background-color: #f7aa0313;
}

.main-contact {
    background-color: #f7aa0313;
}

/* Scribble */

.main-h2-and-scribble {
    text-align: center;
}

  .main-h2 {
    font-size: 38px; 
    text-align: center; 
    font-weight: 400;
    margin-bottom: 0px;
  }
  
  .scribble {
    font-size: 60px;
    stroke: #e3b884e8;
    stroke-width: 0.05em;
    stroke-linecap: square;
    stroke-linejoin: bevel;
    fill: none;
    margin-top: -200px;
    width: 300px;
    height: 100px;
  }

  /* Test scribble style */
  /* .scribble-meet-the-team {
    stroke: #eae6e1;
} */


    /* Header and Nav */

header {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 1;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #7a624d13;;
    /* border-style:solid;
    border-color: #7a624d39; */
}

header, .logo-and-title, .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}
.title {
    font-size: 24px;
    font-weight: 300;
    padding-left: 50px;
    color: #3e2106fa;
    width: 400px;
}
.header-logo {
    width: 140px;
    height: 100%;
}

nav {
    font-weight: 250;
    font-size: 16px;
}

.links {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.links .plain {
    padding: 10px;
}

li.plain {
    color: #583b1ffa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
}

li.button {
    background-color: #583b1ffa;
    margin-left: 70px;
    height: 56px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

li.button:hover {
    background-color: #7a624d;
    transition: background-color 0.2s ease;
}

nav li.plain a {
    text-decoration: none;
    color: #583b1ffa;
}

nav li.button a {
    text-decoration: none;
    color: #ffffff;
}

/* Main bodies */

h2 {
    text-align: center;
}

/* Footer */
footer {
    /* color: #1b0e02fa; */
    color: #3e2106fa;
}

.footer-title {
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 5px;
    padding: 0;
    /* text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px; */
    color: #1b0e02fa;
}

.navigation-h3 {
    margin-top: 5px;
}
.footer-info-sections {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}
.footer-info-sections h3 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 0;
    color: #1b0e02fa;
}

.footer-info-sections ul {
    padding: 0px;
    margin-top: 10px;
}

.footer-info-sections ul li {
    display: flex;
    justify-content: center;
    color: #1b0e02fa;
    font-weight: 300;

}
.footer-navigation a {
    text-decoration: none;
    color: #1b0e02fa;
}
.weekdays {
    max-width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.footer-contact-link {
    background-color: #583b1ffa;
    height: 56px;
    width: 220px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-contact-link:hover {
    background-color: #7a624d;
    transition: background-color 0.2s ease;
}



.logo-images {
    display: flex;
    justify-content: center;
    height: 200px;
    width: fit-content;
    border-style: solid;
    border-width: 1px;
    padding: 18px;
    margin: 0 auto;
    box-sizing: border-box;
    border-color: #7a624d39;
}

.copyright p {
    padding: 2px;
    margin: 2px;
}
/* 
.footer-logo1 {
    width: 254px;
    height: 226px;
}

.footer-logo2 { 
    width: 139px;
    height: 226px;
}

.footer-logo3 { 
    width: 319px;
    height: 148px;
}

.footer-logo4 { 
    width: 137px;
    height: 226px; 
} */


.copyright {
    text-align: center;
}



    /* Home */

        /* Hero Section */

.welcome-h2 {
    font-size: 48px;
    font-weight: 200;
    margin: 0;
}

.hero-section {
    text-align: center;
    margin: 30px 30px 30px 30px;

}

.hero-paragraphs {
    margin-top: 30px;
}
.image-banner {
    margin: 50px 30px 30px 30px;

}
.image-banner img {
    width: 300px;
    height: 200px;
    margin: 2px;
}

        /* Achieve your potential */

.potential {
    display: flex;
    justify-content: space-between;
    margin: 60px 30px 30px 30px;
}

.potential-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.potential-image img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
    width: 600px; 
    height: 1150px;
}

.potential-text {
    flex: 1;
}

.potential-ul li {
    list-style-type: initial;
    line-height: 2.2;
    font-weight: 300;
    font-size: 16px;
}

        /* Services */

.services {
    display: flex;
    justify-content: space-between;
    margin: 60px 30px 30px 30px;
    scroll-margin-top: 200px;
}

.services-text {
    flex: 1;
}

.services-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-image img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
    width: 600px; 
    height: 1150px;
}



.inline {
    display: inline;

}

.services-list li {
    margin-bottom: 15px;
}



/* Meet the Team */

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;    
}

.client-quotes {
    text-align: center;
    background-color: #ffffff;
    padding: 20px 210px 20px 210px;
    font-size: 22px;
    font-weight: 300;
}

.client-quotes .name {
    font-size: 16px;
}

.physio-team {
    display: flex;
}

.physio-profile {
    padding: 50px;
}

.physio-photo {
    display: flex;
    justify-content: center;
}



.claire-photo {
    width: 550px;
    height: auto;
    clip-path: inset(0px 65px 0px 70px);
}

.physio-profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 220px 0px 220px;
}
.physio-profile p {
    line-height: 1.8;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;

}

.physio-team ul, .physio-team li {
    list-style-type: initial;
    line-height: 2.5;
    font-weight: 300;
    font-size: 16px;

}

.physio-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.physio-position {
    text-align: center;
}



/* Prices */

.service-section {
    display: flex;
    flex-direction: column;
}

.service-pairs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.physiotherapy, .hydrotherapy, .mot, .baby-massage {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
}

.prices-image-banner {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%; /* Set the container width */
    height: 540px; /* Set the container height */
}

        /* Physiotherapy */

.prices-image-banner img {
    position: absolute; /* Position images absolutely within the container */
    height: auto; /* Maintain aspect ratio */
}

.prices1 {
    z-index: 1;
    width: 216px;
    height: 216px;
    top: 40px; 
    left: 0px;
}

.prices2 {
    z-index: 0;
    width: 406px;
    height: 520px;
}

.prices3 {
    z-index: 0;
    width: 406px;
    height: 520px;
    margin-right: 40px;
}

.prices4 {
    z-index: 1;
    width: 249px;
    height: 178px;
    top: 80px; 
    right: 0px;
}

.prices5 {
    z-index: 1;
    width: 216px;
    height: 216px;
    bottom: 80px; 
    left: 0px;
}

.prices6 {
    z-index: 0;
    width: 406px;
    max-height: 520px;
    margin-left: 5px;
}

.prices7 {
    z-index: 0;
    width: 406px;
    height: 520px;
    margin-right: 40px;
}

.prices8 {
    z-index: 1;
    width: 249px;
    height: 178px;
    top: 15px; 
    right: 0px;
}

/* Contact Us */

    /* Form */



fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

form {
    display: flex;
    width: 750px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#name, #email, #home-address, #dob, #physio-address, #outcome {
    font-size: 1.2rem;
    height: 30px;
    box-sizing: border-box;
}


.form-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 700px; */
    padding-top: 20px;
}

.form-a, .form-b {
    padding-left: 30px;
    padding-right: 30px;
}


.form1, .form2 {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: flex-start;
}

.form1 {
    padding-right: 6px;
}

.form2 {
    display: flex;
    /* justify-content: space-evenly; */
    padding-left: 6px;
}

.form3 {
    width: 100%;
    margin-top: 20px;
}


.form5 {
    display: flex;
    justify-content: center;
}
#name, #email, #home-address, #physio-address {
    width: 300px;
}

#home-address, #physio-address {
    height: 100px;
}

.physio-address-label {
    width: 300px;
}
#dob {
    width: 150px;
    margin-bottom: 6px;
}

#outcome {
    height: 100px;
    width: 100%;
}

.yes, .no {
    display: inline-block;
    padding: 2px 10px 2px 4px;
    border-style: solid;
    border-color: #767676;
    border-width: 1px;
    background-color: #ffffff;
}

.no {
    margin-left: 25px;
}



#submit {
    background-color: #583b1ffa;
    height: 56px;
    width: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 20px;

}


#submit:hover {
    background-color: #7a624d;
    transition: background-color 0.2s ease;
}
/* Responsive styles for mobile devices */

@media (max-width: 768px) {

}
