/* Base styles */

body {
    display: flex;
    flex-direction: column;
}
    /* Header and Nav */

header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

header, .logo-and-title, .links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}
.title {
    font-size: 24px;
    font-weight: 300;
    padding-left: 50px;
    color: #3e2106fa;
    width: 400px;
}
.header-logo {
    width: 140px;
    height: 100%;

}

nav {
    font-weight: 250;
    font-size: 16px;

}

.links {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.links .plain {
    padding: 10px;

}

li.plain {
    color: #583b1ffa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
}

li.button {
    background-color: #583b1ffa;
    margin-left: 70px;
    height: 56px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

nav li.plain a {
    text-decoration: none;
    color: #583b1ffa;
}

nav li.button a {
    text-decoration: none;
    color: #ffffff;
}


/* Responsive styles for mobile devices */

@media (max-width: 768px) {

}
